In [1]:
import os
import pandas as pd

In [2]:
lime_data=pd.read_csv('CWUR_lime.csv')

In [4]:
contribution_columns=list(filter(lambda x: "_contribution" in x, lime_data.columns))
print(len(contribution_columns))

526

In [7]:
lime_data[contribution_columns]=lime_data[contribution_columns].apply(lambda x:round(x,3))

In [8]:
lime_data

,model,UNITID,1-qid,two_realRank2,two_realRank,State,SCH_DEG,PREDDEG,HIGHDEG,CONTROL,...,WDRAW_4YR_TRANS_YR6_RT_contribution,WDRAW_4YR_TRANS_YR8_RT_contribution,WDRAW_DEBT_MDN_contribution,WDRAW_DEBT_N_contribution,WDRAW_ORIG_YR2_RT_contribution,WDRAW_ORIG_YR3_RT_contribution,WDRAW_ORIG_YR4_RT_contribution,WDRAW_ORIG_YR6_RT_contribution,WDRAW_ORIG_YR8_RT_contribution,predicted
0,MART,166027,2012,1,1,Harvard University,3,3,4,2,...,1.242,6.990,-0.505,4.179,2.516,1.102,2.713,0.088,1.037,1.0
1,MART,243744,2012,3,3,Stanford University,3,3,4,2,...,-2.279,-0.612,-0.170,-2.305,-0.470,-1.782,-0.859,2.426,-0.767,1.0
2,MART,166683,2012,2,2,Massachusetts Institute of Technology,3,3,4,2,...,-0.894,-2.409,-1.542,-2.255,3.055,-2.195,-1.059,-0.413,-0.202,1.0
3,MART,144050,2012,11,11,University of Chicago,3,3,4,2,...,-0.963,-4.417,-1.823,-0.999,2.279,1.359,0.538,2.368,4.436,1.0
4,MART,110635,2012,10,10,University of California-Berkeley,3,3,4,1,...,1.033,-4.106,-3.714,0.986,-2.555,3.570,1.738,2.397,0.055,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,RandomFor,199148,2015,897,897,University of North Carolina at Greensboro,3,3,4,1,...,-0.281,-0.050,-0.026,0.124,0.003,0.007,-0.041,0.023,-0.103,197.0
988,RandomFor,176372,2015,901,901,University of Southern Mississippi,3,3,4,1,...,-0.073,0.054,-0.157,-0.034,0.022,-0.126,-0.040,-0.089,0.063,196.0
989,RandomFor,200280,2015,913,913,University of North Dakota,3,3,4,1,...,-0.013,-0.006,-0.147,-0.044,-0.162,0.051,0.178,0.034,-0.007,189.0
990,RandomFor,228796,2015,929,929,The University of Texas at El Paso,3,3,4,1,...,0.220,0.184,-0.011,0.118,0.061,-0.246,-0.029,0.070,0.075,187.0
991,RandomFor,445188,2015,936,936,University of California-Merced,3,3,4,1,...,0.111,-0.019,-0.034,0.194,-0.097,0.052,0.083,0.073,0.082,142.0

In [9]:
lime_data.to_csv('CWUR_lime.csv',index=None)