In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('../../school/lime/school_rank.csv')

In [6]:
df

,1-qid,country_feature_rank,female_percent_feature_rank,income_feature_rank,international_feature_rank,international_students_feature_rank,num_students_feature_rank,research_feature_rank,student_staff_ratio_feature_rank,teaching_feature_rank,model
0,2011,3,7,1,2,10,9,5,4,8,CordAscent
1,2011,7,8,1,2,10,3,9,4,5,CordAscent
2,2011,4,7,8,1,9,3,10,2,5,CordAscent
3,2011,4,8,7,2,10,5,6,9,1,CordAscent
4,2011,2,5,7,4,8,10,9,1,6,CordAscent
...,...,...,...,...,...,...,...,...,...,...,...
20819,2016,1,9,6,3,10,7,4,8,2,RankNet
20820,2016,1,9,6,3,10,7,4,8,2,RankNet
20821,2016,1,9,6,3,10,7,4,8,2,RankNet
20822,2016,4,10,6,7,1,2,3,8,5,RankNet
20823,2016,7,10,6,8,4,9,5,2,3,RankNet