In [2]:
import pandas as pd
df=pd.read_csv('./threepublisherlime_rank.csv')
import numpy as np

In [82]:
df.reset_index(inplace=True, drop=True)

In [83]:
df

,publisher,model,1-qid,two_realRank,two_realRank2,name,id,ACTCM25_contribution,ACTCM75_contribution,ACTCMMID_contribution,...,WDRAW_DEBT_MDN_feature_rank,WDRAW_DEBT_N_feature_rank,WDRAW_ORIG_YR2_RT_feature_rank,WDRAW_ORIG_YR3_RT_feature_rank,WDRAW_ORIG_YR4_RT_feature_rank,WDRAW_ORIG_YR6_RT_feature_rank,WDRAW_ORIG_YR8_RT_feature_rank,predicted,State,year
0,THE,MART,2012,2,2,Harvard University,id_166027,-0.833267,0.024679,0.461379,...,26.0,358.0,127.0,42.0,425.0,56.0,433.0,1.0,Harvard University,2012
1,THE,MART,2012,2,2,Stanford University,id_243744,-0.363053,-0.109691,-0.578298,...,503.0,264.0,508.0,467.0,370.0,398.0,368.0,1.0,Stanford University,2012
2,THE,MART,2012,7,7,Massachusetts Institute of Technology,id_166683,0.312387,0.406934,0.341643,...,242.0,444.0,87.0,14.0,513.0,292.0,382.0,1.0,Massachusetts Institute of Technology,2012
3,THE,MART,2012,9,9,University of Chicago,id_144050,0.021144,-0.293996,0.692264,...,88.0,270.0,330.0,415.0,354.0,298.0,373.0,1.0,University of Chicago,2012
4,THE,MART,2012,10,10,University of California-Berkeley,id_110635,-0.608389,0.787305,0.731454,...,246.0,89.0,210.0,303.0,265.0,344.0,68.0,1.0,University of California-Berkeley,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2823,CWUR,RandomFor,2015,897,897,University of North Carolina at Greensboro,id_199148,-0.134458,-0.333730,0.166022,...,452.0,220.0,513.0,502.0,415.0,462.0,275.0,197.0,University of North Carolina at Greensboro,2015
2824,CWUR,RandomFor,2015,901,901,University of Southern Mississippi,id_176372,0.154349,-0.010413,0.155108,...,89.0,395.0,435.0,134.0,371.0,221.0,286.0,196.0,University of Southern Mississippi,2015
2825,CWUR,RandomFor,2015,913,913,University of North Dakota,id_200280,-0.061362,-0.125898,-0.095916,...,84.0,331.0,73.0,310.0,55.0,374.0,494.0,189.0,University of North Dakota,2015
2826,CWUR,RandomFor,2015,929,929,The University of Texas at El Paso,id_228796,-1.450203,-0.748224,-0.117682,...,496.0,208.0,334.0,58.0,438.0,316.0,303.0,187.0,The University of Texas at El Paso,2015
2827,CWUR,RandomFor,2015,936,936,University of California-Merced,id_445188,0.170654,-0.182178,-0.132132,...,404.0,69.0,221.0,346.0,252.0,283.0,254.0,142.0,University of California-Merced,2015

# Rank Data

In [3]:
rank_columns=list(filter(lambda x: "_feature_rank" in x, df.columns))
print(len(rank_columns))

526

In [4]:
mycols=np.array(['1-qid','model',"publisher"]) # This columns must exist
for col in mycols:
    if(col not in df.columns):
        print(col)

In [5]:
temp=np.concatenate((rank_columns,mycols))

In [6]:
threepublisher_rank=df[temp]

In [6]:
threepublisher_rank.to_csv("threepublisher_rank.csv",index=None)

# Lime Data

In [68]:
orig_data=pd.read_csv("../../../threepublisher.csv")
orig_data['myindex']=orig_data.index

In [69]:

contribution_columns=list(filter(lambda x: "_contribution" in x, df.columns))

In [70]:
feature_columns=[x.replace("_contribution","") for x in contribution_columns]

In [73]:
feature_data=orig_data[feature_columns]
mart_data=feature_data.copy()
mart_data['model']='MART'
random_for=feature_data.copy()
random_for['model']='RandomFor'

In [74]:
merged_data=pd.concat([mart_data,random_for])

In [84]:
merged_data.reset_index(inplace=True, drop=True)

In [85]:
merge_final=pd.concat([merged_data,df],axis=1)

In [86]:
merge_final

,ACTCM25,ACTCM75,ACTCMMID,ADMCON7,ADM_RATE,ADM_RATE_ALL,AGE_ENTRY,APPL_SCH_N,APPL_SCH_PCT_GE2,APPL_SCH_PCT_GE3,...,WDRAW_DEBT_MDN_feature_rank,WDRAW_DEBT_N_feature_rank,WDRAW_ORIG_YR2_RT_feature_rank,WDRAW_ORIG_YR3_RT_feature_rank,WDRAW_ORIG_YR4_RT_feature_rank,WDRAW_ORIG_YR6_RT_feature_rank,WDRAW_ORIG_YR8_RT_feature_rank,predicted,State,year
0,31,35,33,1,0.0626,0.0626,23.056897,1740,0.589080,0.527011,...,26.0,358.0,127.0,42.0,425.0,56.0,433.0,1.0,Harvard University,2012
1,30,34,32,1,0.0710,0.0710,19.533168,1206,0.655058,0.610282,...,503.0,264.0,508.0,467.0,370.0,398.0,368.0,1.0,Stanford University,2012
2,32,35,34,1,0.0973,0.0973,19.336283,1017,0.776794,0.729597,...,242.0,444.0,87.0,14.0,513.0,292.0,382.0,1.0,Massachusetts Institute of Technology,2012
3,31,34,33,1,0.1626,0.1626,21.309336,1778,0.687852,0.642295,...,88.0,270.0,330.0,415.0,354.0,298.0,373.0,1.0,University of Chicago,2012
4,27,32,30,1,0.2143,0.2143,21.152859,8184,0.804008,0.747434,...,246.0,89.0,210.0,303.0,265.0,344.0,68.0,1.0,University of California-Berkeley,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2823,21,25,23,1,0.6073,0.6073,22.697549,7793,0.605928,0.396125,...,452.0,220.0,513.0,502.0,415.0,462.0,275.0,197.0,University of North Carolina at Greensboro,2015
2824,19,25,22,1,0.6674,0.6674,23.323464,6755,0.482013,0.245596,...,89.0,395.0,435.0,134.0,371.0,221.0,286.0,196.0,University of Southern Mississippi,2015
2825,21,26,24,1,0.8600,0.8600,22.044717,4316,0.357507,0.166126,...,84.0,331.0,73.0,310.0,55.0,374.0,494.0,189.0,University of North Dakota,2015
2826,17,23,20,1,0.9989,0.9989,22.741848,10366,0.638626,0.284005,...,496.0,208.0,334.0,58.0,438.0,316.0,303.0,187.0,The University of Texas at El Paso,2015
2827,20,25,23,1,0.6718,0.6718,19.577200,2921,0.925368,0.883259,...,404.0,69.0,221.0,346.0,252.0,283.0,254.0,142.0,University of California-Merced,2015

In [89]:
mycols=np.array(['1-qid','two_realRank','two_realRank2','State','predicted','year','model',"publisher"]) # This columns must exist
for col in mycols:
    if(col not in merge_final.columns):
        print(col)

In [90]:
temp=np.concatenate((contribution_columns,feature_columns,mycols))

In [91]:
threepublisher_lime=merge_final[temp]

In [92]:
threepublisher_lime[contribution_columns]=threepublisher_lime[contribution_columns].apply(lambda x:round(x,3))

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [93]:
threepublisher_lime.shape

(2828, 1061)

In [94]:
threepublisher_lime.to_csv("threepublisher_lime2.csv",index=None)

# -------------------------------------------------------------------

# School Dataset

In [21]:
school_df=pd.read_csv('../../school/lime/school_lime.csv')

In [25]:
#rank_columns=["_contribution" in x for x in df.columns]
rank_columns=list(filter(lambda x: "_contribution" in x, school_df.columns))
len(rank_columns)

9

In [26]:
#rank_columns=["_contribution" in x for x in df.columns]
rank_columns=list(filter(lambda x: "_contribution" not in x, school_df.columns))
len(rank_columns)

20

In [43]:
mycols=['1-qid','two_realRank','two_realRank2','State','predicted','year','model'] # This columns must exist
for col in mycols:
    if(col not in df.columns):
        print(col)

State
year

In [44]:
df['State']=df['name']
df['year']=df['1-qid']

# Remove extra columns

In [19]:
for j in merged.columns:
    if "feature_rank" in j:
        merged.drop(j,axis=1,inplace=True)

In [20]:
for j in merged.columns:
    if j in a:
        merged.drop(j,axis=1,inplace=True)

In [22]:
merged.columns

Index(['1-qid', 'two_realRank', 'two_realRank2', 'State', 'country',
       'teaching', 'international', 'research', 'citations', 'income',
       'total_score', 'num_students', 'student_staff_ratio', 'year',
       'female_percent', 'international_students', 'world_rank',
       'country_encoded', 'country_contribution',
       'female_percent_contribution', 'income_contribution',
       'international_contribution', 'international_students_contribution',
       'num_students_contribution', 'research_contribution',
       'student_staff_ratio_contribution', 'teaching_contribution', 'model'],
      dtype='object')

In [23]:
merged

,1-qid,two_realRank,two_realRank2,State,country,teaching,international,research,citations,income,...,country_contribution,female_percent_contribution,income_contribution,international_contribution,international_students_contribution,num_students_contribution,research_contribution,student_staff_ratio_contribution,teaching_contribution,model
0,2011,167,167.0,Aarhus University,Denmark,38.1,33.40000,55.6,57.3,61.500000,...,-9.881952e-03,-1.787930e-03,9.802727e-02,-3.337767e-02,9.770000e-05,-7.843040e-04,5.796869e-03,-8.390714e-03,1.685774e-03,CordAscent
1,2011,147,147.0,Alexandria University,Egypt,29.5,19.30000,28.0,99.8,36.000000,...,-1.168830e-02,3.005306e-03,-3.631233e-02,-3.503427e-02,2.059000e-04,3.068510e-02,-7.071080e-04,3.042261e-02,-1.917207e-02,CordAscent
2,2011,162,161.0,Arizona State University,USA,43.0,24.10000,44.1,66.9,48.979874,...,8.548674e-03,-2.055621e-03,-1.794490e-03,-3.669966e-02,-1.327311e-03,2.592924e-02,-1.259815e-03,3.020513e-02,4.992283e-03,CordAscent
3,2011,43,43.0,Australian National University,Australia,51.9,93.90000,62.4,81.0,48.979874,...,-1.143998e-02,-1.277368e-03,-1.473124e-03,3.443445e-02,-4.359400e-04,-8.452168e-03,2.113072e-03,-5.843140e-04,5.346403e-02,CordAscent
4,2011,173,173.0,Bielefeld University,Germany,39.9,52.00744,35.7,70.4,48.979874,...,-1.265115e-02,-5.204995e-03,-1.095062e-03,5.219914e-03,8.298830e-04,4.493270e-04,-7.500310e-04,3.422070e-02,2.127015e-03,CordAscent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,2016,48,54.0,École Normale Supérieure,France,70.6,85.50000,47.7,87.1,37.100000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,RankNet
2599,2016,150,201.0,École Normale Supérieure de Lyon,France,41.6,65.60000,30.0,69.0,31.700000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,RankNet
2600,2016,739,NaN,École Polytechnique,France,53.5,92.80000,44.6,64.7,82.300000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,RankNet
2601,2016,31,31.0,École Polytechnique Fédérale de Lausanne,Switzerland,61.3,98.60000,67.5,94.6,65.400000,...,-5.800000e-32,8.200000e-33,-4.100000e-32,4.000000e-32,2.000000e-31,1.300000e-31,-6.100000e-32,3.000000e-32,-4.800000e-32,RankNet
2602,2016,219,301.0,Örebro University,Sweden,18.3,39.40000,10.4,87.8,29.800000,...,1.100000e-32,9.900000e-34,-1.400000e-32,9.200000e-33,1.500000e-32,-2.500000e-33,-1.400000e-32,-2.700000e-32,1.900000e-32,RankNet

In [24]:
merged.to_csv('lime_school.csv',index=False)