In [9]:
import pandas as pd
df=pd.read_csv('threepublisher.csv')
df['publisher'].unique()

array(['THE', 'RUR', 'CWUR'], dtype=object)

In [4]:
temp=df['publisher'].unique()

In [7]:
df[df['publisher']==temp[0]][['name','two_realRank']]

                                      name  two_realRank
0                       Harvard University             2
1                      Stanford University             2
2    Massachusetts Institute of Technology             7
3                    University of Chicago             9
4        University of California-Berkeley            10
..                                     ...           ...
405         Tulane University of Louisiana           301
406                      Lehigh University           351
407                  University of Vermont           351
408                George Mason University           351
409            Washington State University           351

[410 rows x 2 columns]

In [8]:
df[df['publisher']==temp[1]][['name','two_realRank']]

                                            name  two_realRank
410                           Harvard University             2
411                          Stanford University             3
412        Massachusetts Institute of Technology             4
413  Columbia University in the City of New York             5
414                        University of Chicago             6
..                                           ...           ...
913                      The University of Tampa           690
914       California State University-Long Beach           703
915                    Humboldt State University           714
916           Savannah College of Art and Design           732
917              University of Northern Colorado           735

[508 rows x 2 columns]